@page
@model BackendProj.Pages.AdminModel
@{
    ViewData["Title"] = "Панель управления";
    Layout = "_Layout";
}
<html>
    <head>
    <link rel="stylesheet" href="~/css/Style.css" />
    </head>
<body>
    <div>
        <h3>Список пользователей</h3>
            <table>
                <tr align="center" style="position:relative">
                    <td><h5>ФИО работника</h5></td>
                    <td><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Роль</h5></td>
                <form method="post"><td style="position:absolute; right: -80%; top: -15%"> <input class="ButtonStyle" type="submit" asp-page-handler="Add" value="Добавить" /></td></form>
                </tr>
                @foreach (var s in Model.db.Users)
                {
                <form method="post">
                    <tr align="center" style="position:relative;">
                    <input type="hidden" name="ID" value=@s.Id />
                        <td><p>@s.Data.FIO</p></td>
                        @if (s.role == 1)
                        {
                            <td style="position:absolute; right: -13%"><p>Администратор</p></td>
                            if(s.Id.ToString()==IndexModel.userId)
                            {
                                <td style="position:absolute; right: -80%"><input class="ButtonStyle" type="submit" value="Изменить" asp-page-handler="Edit" /></td>
                            }
                        }
                        else
                        {
                            <td style="position:absolute; right: -10%"><p>Пользователь</p></td>
                            <td style="position:absolute; right: -80%"> <input class="ButtonStyle" type="submit" value="Изменить" asp-page-handler="Edit" /></td>
                        }
                    </tr>
                </form>
                }
            </table>
    </div>
</body>
</html>