@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    Models.User? user = Controllers.Authorization.GetUser("ROck", "123145");
    byte[] image = user.Data.Image;
    MemoryStream ms = new MemoryStream(image);
    System.Drawing.Image img = System.Drawing.Image.FromStream(ms);
    var stream = new MemoryStream();
    img.Save("wwwroot\\"+user.Id.ToString()+" .jpeg");
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p> Sanya GAY</p>
    <p> @user.Data.Name </p>
    <p> <img src="@user.Id .jpeg" /> </p>
</div>
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device=width"/>
        <script type="text/javascript">
            constants = {
                getPage: '@Url.RouteUrl("DefaultApi", new {controller = "Blog", action = "page" })'
            }
        </script>
        <title>Index</title>
    </head>
    <body>
        <div id="content">
        </div>
        <script type="text/javascript" src="@Url.Content("~/assets/bundle.js")"></script>
    </body>
</html>