@page
@model IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="Style.css" />
    <title>Вход в личный кабинет</title>
</head>
<body>
    <div>
        <h3>Вход в личный кабинет</h3>
        <form method="post">
            <label for="login">Введите логин</label><br />
            <input type="text" name="login" id="login" /><br /><br />
            <label for="password">Введите пароль</label><br />
            <input type="text" name="password" id="password" /><br /><br />
            <input type="submit" value="Войти" />
        </form>
    </div>
</body>
</html>
